@import 'tailwindcss';
@import './fonts';
@import './highlight-light-lite';
@import 'swiper/css';

@theme {

    /**
     * Colors
     */

    --color-thunder-lightest: #656465;
    --color-thunder-lighter: #4f4d4f;
    --color-thunder-light: #434143;
    --color-thunder: #393739;
    --color-thunder-dark: #232123;
    --color-thunder-darker: #191719;
    --color-thunder-darkest: #121112;

    --color-ivory-lightest: #FFFFF8;
    --color-ivory-lighter: #FFFFF5;
    --color-ivory-light: #FFFFF2;
    --color-ivory: #FFFFF0;
    --color-ivory-dark: #E6E6D8;
    --color-ivory-darker: #CCCCC0;
    --color-ivory-darkest: #B3B3A8;

    --color-brass-lightest: #F9D5B6;
    --color-brass-lighter: #F7C192;
    --color-brass-light: #F4B379;
    --color-brass: #F2A25C;
    --color-brass-dark: #EB8C38;
    --color-brass-darker: #D77219;
    --color-brass-darkest: #B45F14;

    --color-stiletto-lightest: #CD625F;
    --color-stiletto-lighter: #C44441;
    --color-stiletto-light: #B13735;
    --color-stiletto: #9A2E2C;
    --color-stiletto-dark: #882826;
    --color-stiletto-darker: #7C2523;
    --color-stiletto-darkest: #6C2220;

    /**
     * Font families
     */

    --font-roboto: 'Roboto', Sans-Serif, Arial;
    --font-geist: 'Geist', Sans-Serif, Arial;
    --font-oswald: 'Oswald', Sans-Serif, Arial;
    --font-sans: var(--font-roboto);

    /**
     * Font size
     */

    --text-base: 1.125rem;

    --text-5xl: 8.75rem;
    --text-4xl: 6.875rem;
    --text-3xl: 5.625rem;
    --text-2xl: 4.375rem;
    --text-xl: 3.75;
    --text-lg: 3rem;
    --text-md: 2.375rem;
    --text-sm: 1.125rem;
    --text-xs: 1rem;
    --text-2xs: 0.875rem;
    --text-3xs: 0.75rem;
    --text-4xs: 0.688rem;
    --text-5xs: 0.625rem;

    --text-h1: 3rem;
    --text-h2: 2.5rem;
    --text-h3: 2rem;
    --text-h4: 1.625rem;
    --text-h5: 1.375rem;
    --text-h6: 1.125rem;
    --text-s1: 1.375rem;
    --text-s2: 1.25rem;

    /**
     * Breakpoints
     */

    --breakpoint-tablet-v: 744px;
    --breakpoint-tablet-h: 992px;
    --breakpoint-laptop-sm: 1280px;
    --breakpoint-laptop-lg: 1440px;
    --breakpoint-desktop: 1920px;

    --spacing-5xs: 4px;
    --spacing-4xs: 6px;
    --spacing-3xs: 12px;
    --spacing-2xs: 16px;
    --spacing-xs: 22px;
    --spacing-sm: 32px;
    --spacing-md: 44px;
    --spacing-lg: 56px;
    --spacing-xl: 72px;
    --spacing-2xl: 98px;
    --spacing-3xl: 130px;
    --spacing-4xl: 160px;
    --spacing-5xl: 180px;

    /**
     * Animations
     */

    --animate-blob-morph: blob-morph 10s ease-in-out infinite both alternate;

    @keyframes blob-morph {
        0%,
        100% {
            border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
        }
        20% {
            border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
        }
        40% {
            border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
        }
        60% {
            border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
        }
        80% {
            border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
        }
    }
}

@layer base {

    /**
     * Global variables
     */

    :root {
        --header-height: 70px;
        --container-padding-y: var(--spacing-md);

        @media (width >= theme(--breakpoint-tablet-h)) {
            --header-height: 80px;
            --container-padding-y: var(--spacing-sm);
        }

        @media (width >= theme(--breakpoint-laptop-sm)) {
            --container-padding-y: var(--spacing-md);
        }

        @media (width >= theme(--breakpoint-desktop)) {
            --header-height: 100px;
        }
    }

    /**
     * Global styles
     */

    * {

        @media (width >= theme(--breakpoint-laptop-sm)) {
            cursor: none;
        }
    }

    /**
     * Body styles
     */

    body {
        @apply
            bg-ivory-lightest
            text-thunder-darkest
            font-roboto;

        &.hamburger-open {
            @apply
                overflow-y-hidden!;

            @media (width >= theme(--breakpoint-tablet-v)) {
                @apply
                    overflow-y-auto!;
            }
        }
    }

    /**
     * Headings
     */

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        @apply
            font-normal
            leading-[1.2];
    }

    h1, .h1 {
        @apply
            text-h1;
    }

    h2, .h2 {
        @apply
            text-h2;
    }

    h3, .h3 {
        @apply
            text-h3;
    }

    h4, .h4 {
        @apply
            text-h4;
    }

    h5, .h5 {
        @apply
            text-h5;
    }

    h6, .h6 {
        @apply
            text-h6;
    }

    /**
     * Links
     */

    a {
        @apply
            text-inherit
            underline
            font-normal;
    }
}

/**
 * Utilities // Container
 */

@utility container {
    @apply
        mx-auto
        px-2xs
        tablet-v:max-w-192
        tablet-v:px-xs
        tablet-h:max-w-248
        tablet-h:px-sm
        laptop-sm:max-w-308
        laptop-lg:max-w-300;
}

/**
 * Utilities // Writing mode
 */

@utility writing-h-tb {
    writing-mode: horizontal-tb;
}

@utility writing-v-lr {
    writing-mode: vertical-lr;
}

@utility writing-v-rl {
    writing-mode: vertical-rl;
}

/**
 * Utilities // Scrollbar hide
 */

@utility scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

/**
 * Components
 */

@layer components {

    /**
     * Cursor
     */

    .cursor {
        @apply
            hidden
            bg-white
            w-[20px]
            h-[20px]
            rounded-full
            fixed
            top-0
            left-0
            z-50
            mix-blend-difference
            transition-transform
            duration-200
            pointer-events-none;

            &.hover {
                @apply
                    bg-transparent
                    border
                    border-solid
                    border-white
                    scale-180;
            }

            &.click {
                @apply
                    bg-white
                    scale-60;
            }
    }

    /**
     * Buttons
     */

    .btn {
        @apply
            inline-flex
            items-center
            gap-4xs
            py-4xs
            px-3xs
            border-2
            border-solid
            border-current
            rounded-xl
            text-thunder-darkest
            font-medium
            no-underline
            after:inline-block
            after:bg-current
            after:w-[1em]
            after:h-[1em]
            after:transition-all
            after:duration-200
            hover:after:ml-[5px]
            hover:after:-mr-[5px];

        &::after {
            --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='m184.49 136.49l-80 80a12 12 0 0 1-17-17L159 128L87.51 56.49a12 12 0 1 1 17-17l80 80a12 12 0 0 1-.02 17'/%3E%3C/svg%3E");

            -webkit-mask-image: var(--svg);
            mask-image: var(--svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }

        &.btn-lg {
            @apply
                text-[1.2rem]
                py-3xs
                px-xs;
        }
    }

    /**
     * CTAs
     */

    .cta {
        @apply
            relative
            inline-flex
            items-center
            gap-4xs
            pt-4xs
            pr-3xs
            pb-4xs
            pl-0
            text-thunder-darkest
            font-medium
            no-underline
            before:bg-current
            before:block
            before:h-[2px]
            before:absolute
            before:bottom-0
            before:left-0
            before:transition-all
            before:duration-200
            before:scale-x-0
            before:origin-top-left
            after:bg-current
            after:inline-block
            after:w-[1em]
            after:h-[1em]
            after:transition-all
            after:duration-200
            hover:before:scale-x-100
            hover:after:ml-[5px]
            hover:after:-mr-[5px];

        &::after {
            --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='m184.49 136.49l-80 80a12 12 0 0 1-17-17L159 128L87.51 56.49a12 12 0 1 1 17-17l80 80a12 12 0 0 1-.02 17'/%3E%3C/svg%3E");

            -webkit-mask-image: var(--svg);
            mask-image: var(--svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }

        &::before {
            width: calc(100% - (var(--spacing-4xs) + 1em + (var(--spacing-3xs))));
        }

        &.cta-inverted {
            @apply
                after:rotate-180
                after:-order-1
                before:left-[calc(var(--spacing-4xs)+1em)]
                before:origin-bottom-right
                hover:after:mr-[5px]
                hover:after:-ml-[5px];
        }

        &.cta-expand {
            @apply
                after:rotate-90
                hover:after:mr-0
                hover:after:ml-0
                data-expanded:after:-rotate-90;
        }

        &.cta-inline {
            @apply
                font-normal
                p-0
                before:w-[calc(100%-(var(--spacing-4xs)+1em))];
        }
    }

    /**
     * Code highlight
     */

    pre {
        background-color: var(--color-ivory);
        padding: var(--spacing-sm);
        border-radius: 10px;
        max-width: 100%;
        overflow-y: auto;
        font-family: var(--font-roboto);
        font-size: inherit;
    }

    /**
     * Prose
     */

    .prose {
        @apply text-sm;

        h1, h2, h3, h4, h5 {
            @apply
                mt-md
                mb-xs
                first:mt-0
                last:mb-0;
        }

        figure {
            @apply
                my-2xs
                first:mt-0
                last:mb-0;

            img {
                @apply
                    inline;
            }

            figcaption {
                @apply
                    italic;
            }
        }

        .table-of-contents {
            @apply
                my-md
                first:mt-0
                last:mb-0;
        }

        .player {
            @apply
                my-md
                first:mt-0
                last:mb-0;
        }

        p {
            @apply
                my-2xs
                first:mt-0
                last:mt-0;
        }

        ul, ol {
            @apply
                my-3xs
                pl-8
                list-disc
                first:mt-0
                last:mt-0;

            ul, ol {
                @apply
                    my-0;
            }
        }

        ol {
            @apply
                list-decimal;
        }

        blockquote {
            @apply
                pl-4
                border-l-2
                border-solid
                border-thunder-darkest
                italic;
        }
    }
}
