{%set page = {
    'title': 'Blog',
    'id': 'blog',
    'layout': {
        'fluid': false,
        'breadcrumb': {
            'index': 'Home',
            '': 'Blog'
        }
    }
}%}
{%extends "./layout/default.html"%}
{%block main%}
    <div class="prose mb-2xl tablet-v:w-2/3 tablet-h:w-1/2">
        <h1>
            Blog
        </h1>
        <p>
            Uno spazio dove condivido la mia passione per la musica attraverso riflessioni, consigli e approfondimenti sul mondo pianistico e compositivo.
        </p>
    </div>
    <div class="grid grid-cols-1 gap-lg tablet-v:gap-x-xs tablet-v:grid-cols-2 tablet-h:grid-cols-3 laptop-sm:gap-x-lg laptop-sm:gap-y-xl">
        {%for id, article in blog%}
            {%include './components/article/card.html' with {
                'id': id,
                'article': article,
                'articles_cats': articles_cats,
                'class': ''
            } only%}
        {%endfor%}
    </div>
    {%if pagination.prev or pagination.next%}
        <div class="flex mt-lg">
            {%if pagination.prev%}
                <a href="{{url('blog.page-' ~ pagination.prev)}}" class="cta cta-inverted">
                    PRECEDENTE
                </a>
            {%endif%}
            <div class="flex-1"></div>
            {%if pagination.next%}
                <a href="{{url('blog.page-' ~ pagination.next)}}" class="cta">
                    SUCCESSIVO
                </a>
            {%endif%}
        </div>
    {%endif%}
{%endblock%}
