<!DOCTYPE html>
<html>
    <head>
        <title>Colors</title>
        <link href="./assets/css/ui.css" rel="stylesheet" />
    </head>

    <body>
        <div class="grid grid-cols-7 auto-rows-min w-full">
            <!-- THUNDER -->
            <div class="flex items-end text-white h-[20vh] bg-thunder-darkest p-xs">
                thunder-darkest
            </div>
            <div class="flex items-end text-white h-[20vh] bg-thunder-darker p-xs">
                thunder-darker
            </div>
            <div class="flex items-end text-white h-[20vh] bg-thunder-dark p-xs">
                thunder-dark
            </div>
            <div class="flex items-end text-white h-[20vh] bg-thunder p-xs">
                thunder
            </div>
            <div class="flex items-end text-white h-[20vh] bg-thunder-light p-xs">
                thunder-light
            </div>
            <div class="flex items-end text-white h-[20vh] bg-thunder-lighter p-xs">
                thunder-lighter
            </div>
            <div class="flex items-end text-white h-[20vh] bg-thunder-lightest p-xs">
                thunder-lightest
            </div>
            <!-- STILETTO -->
            <div class="flex items-end text-white h-[20vh] bg-stiletto-darkest p-xs">
                stiletto-darkest
            </div>
            <div class="flex items-end text-white h-[20vh] bg-stiletto-darker p-xs">
                stiletto-darker
            </div>
            <div class="flex items-end text-white h-[20vh] bg-stiletto-dark p-xs">
                stiletto-dark
            </div>
            <div class="flex items-end text-white h-[20vh] bg-stiletto p-xs">
                stiletto
            </div>
            <div class="flex items-end text-white h-[20vh] bg-stiletto-light p-xs">
                stiletto-light
            </div>
            <div class="flex items-end text-white h-[20vh] bg-stiletto-lighter p-xs">
                stiletto-lighter
            </div>
            <div class="flex items-end text-white h-[20vh] bg-stiletto-lightest p-xs">
                stiletto-lightest
            </div>
            <!-- FAWN -->
            <div class="flex items-end h-[20vh] bg-fawn-darkest p-xs">
                fawn-darkest
            </div>
            <div class="flex items-end h-[20vh] bg-fawn-darker p-xs">
                fawn-darker
            </div>
            <div class="flex items-end h-[20vh] bg-fawn-dark p-xs">
                fawn-dark
            </div>
            <div class="flex items-end h-[20vh] bg-fawn p-xs">
                fawn
            </div>
            <div class="flex items-end h-[20vh] bg-fawn-light p-xs">
                fawn-light
            </div>
            <div class="flex items-end h-[20vh] bg-fawn-lighter p-xs">
                fawn-lighter
            </div>
            <div class="flex items-end h-[20vh] bg-fawn-lightest p-xs">
                fawn-lightest
            </div>
            <!-- BRASS -->
            <div class="flex items-end h-[20vh] bg-brass-darkest p-xs">
                brass-darkest
            </div>
            <div class="flex items-end h-[20vh] bg-brass-darker p-xs">
                brass-darker
            </div>
            <div class="flex items-end h-[20vh] bg-brass-dark p-xs">
                brass-dark
            </div>
            <div class="flex items-end h-[20vh] bg-brass p-xs">
                brass
            </div>
            <div class="flex items-end h-[20vh] bg-brass-light p-xs">
                brass-light
            </div>
            <div class="flex items-end h-[20vh] bg-brass-lighter p-xs">
                brass-lighter
            </div>
            <div class="flex items-end h-[20vh] bg-brass-lightest p-xs">
                brass-lightest
            </div>
            <!-- ivory -->
            <div class="flex items-end h-[20vh] bg-ivory-darkest p-xs">
                ivory-darkest
            </div>
            <div class="flex items-end h-[20vh] bg-ivory-darker p-xs">
                ivory-darker
            </div>
            <div class="flex items-end h-[20vh] bg-ivory-dark p-xs">
                ivory-dark
            </div>
            <div class="flex items-end h-[20vh] bg-ivory p-xs">
                ivory
            </div>
            <div class="flex items-end h-[20vh] bg-ivory-light p-xs">
                ivory-light
            </div>
            <div class="flex items-end h-[20vh] bg-ivory-lighter p-xs">
                ivory-lighter
            </div>
            <div class="flex items-end h-[20vh] bg-ivory-lightest p-xs">
                ivory-lightest
            </div>
        </div>
    </body>
</html>
