{%set timeline = {
    "2024": [
        {
            "name": "Pianoforte Brillante",
            "location": "Teatro Donnafugata &bullet; Ragusa Ibla (RG)",
            "description": "Pianoforte a quattro mani"
        }
    ],
    "2022": [
        {
            "name": "Laurea magistrale",
            "location": "Conservatorio V. Bellini &bullet; Catania (CT)",
            "description": "Diploma accademico di secondo livello in pianoforte conseguito con 110 e lode"
        }
    ],
    "2021": [
        {
            "name": "Premio Giovani Eccellenze",
            "location": "Teatro Perracchio &bullet; Ragusa (RG)",
            "description": "Pianista solista"
        }
    ],
    "2019": [
        {
            "name": "Musica da Metro",
            "location": "Metro Piazza Stesicoro &bullet; Catania (CT)",
            "description": "Pianista solista"
        },
        {
            "name": "Laurea triennale",
            "location": "Conservatorio V. Bellini &bullet; Catania (CT)",
            "description": "Diploma accademico di primo livello in pianoforte conseguito con 110 e lode"
        },
        {
            "name": "Masterclass",
            "location": "Conservatorio V. Bellini &bullet; Catania (CT)",
            "description": "Masterclass con il M° Joaquin Achùcarro"
        },
        {
            "name": "XVII Concorso Nazionale “Alfio Pulvirenti”",
            "location": "Comiso (RG)",
            "description": "Primo premio con voto 96/100"
        },
        {
            "name": "XI Festival Concorso Nazionale “Giovani Musicisti in Orchestra”",
            "location": "Modica (RG)",
            "description": "Primo premio con voto 98/100."
        }
    ],
    "2018": [
        {
            "name": "Apertura di concerto",
            "location": "Teatro donnafugata &bullet; Ragusa Ibla (RG)",
            "description": "Pianista solista"
        },
        {
            "name": "Masterclass",
            "location": "Rachmaninov Academy &bullet; Catania (CT)",
            "description": "Masterclass con la M° Violetta Egorova"
        },
        {
            "name": "XVI Concorso Nazionale “Alfio Pulvirenti”",
            "location": "Comiso (RG)",
            "description": "Primo premio con voto 97/100."
        }
    ],
    "2017": [
        {
            "name": "Masterclass",
            "location": "Rachmaninov Academy &bullet; Catania (CT)",
            "description": "Masterclass con la M° Violetta Egorova"
        }
    ]
}%}
{%extends "./layout/default.html"%}
{%block main%}
    <div class="prose mb-xl tablet-v:w-2/3 tablet-h:w-1/2">
        <h1>Condivido la mia musica</h1>
        <p class="text-sm">
            Come pianista solista, accompagnatore e insegnante di pianoforte, coniugo esperienza e sensibilità musicale,
            sia nell'esecuzione che nell'insegnamento, per valorizzare ogni percorso artistico.
        </p>
    </div>
    <div class="bg-thunder-darkest rounded-3xl text-ivory-lightest p-sm mb-2xl tablet-v:p-lg">
        <h2 class="mb-5xs">Facciamo musica insieme</h2>
        <p class="text-sm mb-xs">Fammi sapere se hai un progetto che vorresti realizzare o se vuoi iniziare a studiare musica, sarò felice di risponderti.</p>
        <a href="mailto:{{website.email}}" class="btn text-ivory-lightest">Contattami</a>
    </div>
    <div class="mb-xl">
        <h2 class="leading-none mb-sm">Esperienze</h2>
        {%for year, experiences in timeline%}
            <div class="grid grid-cols-[auto_1fr] mb-md gap-sm items-start last-of-type:mb-0">
                <h3 class="writing-v-lr rotate-180">{{year}}</h3>
                <div class="grid grid-cols-1 gap-xs tablet-h:grid-cols-3">
                    {%for experience in experiences%}
                        <div>
                            <h4 class="text-h6">{{experience.name}}</h4>
                            <div class="text-thunder-lightest font-normal">{{experience.location|raw}}</div>
                            <div>{{experience.description}}</div>
                        </div>
                    {%endfor%}
                </div>
            </div>
        {%endfor%}
    </div>
    <div>
        <h2 class="leading-none mb-sm">Progetti</h2>
        <div class="grid tablet-v:grid-cols-2 desktop:grid-cols-3 gap-md">
            <div class="border-thunder-darkest border-2 border-dashed rounded-3xl p-sm">
                <h5 class="mb-3xs">Work in progress</h5>
                <p>
                    Resta aggiornato, a breve tanti progetti!
                </p>
            </div>
        </div>
    </div>
{%endblock%}
