<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Typography</title>
        <link href="./assets/css/ui.css" rel="stylesheet" />
    </head>

    <body>
        <div class="grid grid-cols-1 gap-md">
            <div>
                <h1>H1: Lorem Ipsum Dolor sit Amet</h1>
                <h2>H2: Lorem Ipsum Dolor sit Amet</h2>
                <h3>H3: Lorem Ipsum Dolor sit Amet</h3>
                <h4>H4: Lorem Ipsum Dolor sit Amet</h4>
                <h5>H5: Lorem Ipsum Dolor sit Amet</h5>
                <h6>H6: Lorem Ipsum Dolor sit Amet</h6>
            </div>
            <div class="max-w-4xl">
                <p>
                    Lorem ipsum dolor sit amet <a href="#">consectetur adipisicing elit</a>. Enim animi possimus nostrum ipsum optio. Laboriosam officia sit architecto non rerum consectetur repellendus cum facere alias. Est quis impedit quam officiis.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laborum necessitatibus velit hic natus, explicabo adipisci corporis, nam quod ab quidem voluptas id fuga reiciendis? Ipsam incidunt placeat saepe nesciunt.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae culpa officia non repellat omnis dolor nihil labore placeat nemo maiores fuga, consectetur consequuntur atque iste adipisci, blanditiis sit cupiditate a.
                </p>
            </div>
        </div>
    </body>
</html>
