{%embed './components/home/section.html' with {
    'label': 'Chi sono',
    'prev_text': 'Benvenuto',
    'next_text': 'Blog',
    'style': 'fortepiano',
    'id': 'chi-sono'
}%}
    {%block content%}
        <div class="mb-2xl tablet-v:w-2/3 tablet-h:w-1/2">
            <h3 class="mb-3xs">
                MI PRESENTO
            </h3>
            <p class="text-sm mb-xs">
                Mi chiamo Giuseppe Spataro, pianista, compositore e docente di pianoforte con formazione accademica. Mi occupo di didattica musicale, performance dal vivo e progetti di branding sonoro per aziende e professionisti.
            </p>
            <a href="{{url('about')}}" class="cta uppercase text-current">
                Scopri di più
            </a>
        </div>
        {%include './components/slider-services.html' with {
            'title': 'Cosa faccio',
            'title_tag': 'h3',
            'slide_title_tag': 'h4'
        }%}
    {%endblock%}
{%endembed%}
