<section class="
    group/section
    shrink-0
    w-screen
    min-h-[inherit]
    snap-always
    snap-start
    tablet-h:w-[calc(100vw-var(--header-height))]" {%if id%}id="{{id}}"{%endif%}>
    <div class="flex flex-col min-h-[inherit] tablet-h:flex-row">
        <!-- CONTENT -->
        <div class="
            flex-1
            container
            py-(--container-padding-y)
            tablet-h:max-w-180
            laptop-sm:max-w-248
            laptop-lg:max-w-300
            {%if fullscreen%}flex flex-col min-h-[calc(100vh-200px)]{%endif%}">
            {%block content%}
            {%endblock%}
        </div>
        <!-- END CONTENT -->
        <!-- SIDEBAR -->
        <div class="
            relative
            tablet-h:w-53
            tablet-h:pl-sm
            tablet-h:bg-thunder-darkest
            tablet-h:text-ivory-lightest
            tablet-h:group-data-[style=fortepiano]/body:bg-ivory-lightest
            tablet-h:group-data-[style=fortepiano]/body:text-thunder-darkest
            tablet-h:group-data-[style=fortepiano]/body:after:bg-thunder-darkest
            tablet-h:after:block
            tablet-h:after:w-sm
            tablet-h:after:h-full
            tablet-h:after:absolute
            tablet-h:after:left-0
            tablet-h:after:top-0
            tablet-h:after:bottom-0
            tablet-h:after:bg-ivory-lightest
            tablet-h:after:rounded-r-3xl
            laptop-sm:w-63">
            <!-- SIDEBAR CONTAINER-->
            <div class="
                container
                flex
                pt-xl
                pb-(--container-padding-y)
                tablet-h:py-(--container-padding-y)
                tablet-h:mb-0
                tablet-h:px-3xs
                tablet-h:flex-col
                tablet-h:sticky
                tablet-h:top-0
                tablet-h:h-screen
                tablet-h:justify-between">
                <!-- CONTROLS -->
                <div class="
                    flex-1
                    flex
                    items-center
                    gap-3xs
                    tablet-h:flex-none
                    tablet-h:items-start
                    tablet-h:flex-col-reverse">
                    <a href="#" class="
                        cta
                        cta-inverted
                        nav-prev
                        text-sm
                        text-thunder-darkest
                        uppercase
                        group-first-of-type/section:hidden
                        group-data-[style=fortepiano]/body:text-ivory-lightest
                        tablet-h:text-ivory-lightest
                        tablet-h:group-data-[style=fortepiano]/body:text-thunder-darkest">
                        {{prev_text}}
                    </a>
                    <div class="flex-1 tablet-h:hidden"></div>
                    <a href="#" class="
                        cta
                        uppercase
                        nav-next
                        text-sm
                        text-thunder-darkest
                        group-last-of-type/section:hidden
                        group-data-[style=fortepiano]/body:text-ivory-lightest
                        tablet-h:ml-auto
                        tablet-h:text-ivory-lightest
                        tablet-h:group-data-[style=fortepiano]/body:text-thunder-darkest">
                        {{next_text}}
                    </a>
                </div>
                <!-- END CONTROLS -->
                <!-- LABEL -->
                {%block sidebar_label%}
                    {%if label%}
                        <h2 class="
                            hidden
                            font-oswald
                            font-normal
                            text-lg
                            leading-none
                            uppercase
                            tablet-v:text-2xl
                            tablet-h:block
                            tablet-h:writing-v-lr
                            tablet-h:group-data-[style=fortepiano]/body:self-end
                            tablet-h:group-data-[style=fortepiano]/body:rotate-180">
                            {{label}}
                        </h2>
                    {%endif%}
                {%endblock%}
                <!-- END LABEL -->
            </div>
            <!-- END SIDEBAR CONTAINER -->
        </div>
        <!-- END SIDEBAR -->
    </div>
</section>
