<ul class="flex flex-wrap items-center text-sm gap-3xs first:mb-md last:mt-xl">
    {%for page, label in breadcrumb%}
        <li>
            {%if page%}
                <a href="{{url(page)}}" class="font-light no-underline hover:underline text-thunder-lightest">
                    {{label}}
                </a>
            {%else%}
                <span class="font-normal">
                    {{label}}
                </span>
            {%endif%}
        </li>
        <li class="last:hidden text-thunder-lightest">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><path fill="currentColor" d="m181.66 133.66l-80 80a8 8 0 0 1-11.32-11.32L164.69 128L90.34 53.66a8 8 0 0 1 11.32-11.32l80 80a8 8 0 0 1 0 11.32"/></svg>
        </li>
    {%endfor%}
</ul>
