<footer id="footer" class="
    group/footer
    group-data-[style=pianoforte]/body:bg-thunder-darkest
    group-data-[style=pianoforte]/body:text-ivory-lightest
    group-data-[style=fortepiano]/body:bg-ivory-lightest
    group-data-[style=fortepiano]/body:text-thunder-darkest
    {{class}}">
    <div class="container">
        <div class="prose py-3xl text-center tablet-h:py-4xl">
            <h2 class="text-lg mb-5xs">{{page.layout.footer.contacts.title ?? 'Contattami'}}</h2>
            <p class="mx-auto mb-md text-[1.4rem] tablet-h:max-w-1/2">
                {{page.layout.footer.contacts.description ?? 'Se vuoi avere più informazioni o scambiare qualche parola sarò felice di risponderti.'}}
            </p>
            <a href="mailto:{{website.email}}" class="btn btn-lg text-inherit">
                SCRIVIMI
            </a>
        </div>
        <div class="flex flex-col-reverse items-center pb-lg gap-xs tablet-v:flex-row">
            <div class="text-center tablet-v:text-left">
                &copy; 2024 Giuseppe Spataro.<br>
                <span class="text-2xs">Questo sito non fa uso di cookies o sistemi di tracciamento.</span>
            </div>
            <div class="hidden flex-1 tablet-v:block"></div>
            <div>
                {%include './components/social.html'%}
            </div>
        </div>
    </div>
</footer>
