<nav>
    <!-- WRAPPER -->
    <ul class="flex flex-col gap-xs tablet-h:flex-row tablet-h:gap-xs desktop:gap-sm">
        <li class="w-full bg-thunder-lightest h-px tablet-h:hidden">
        </li>
        {%for id, item in items%}
            <!-- ITEM -->
            <li class="font-normal uppercase text-[24px] font-oswald tablet-h:text-[22px]">
                <a href="{{item.url}}" class="
                    relative
                    block
                    no-underline
                    text-inherit
                    laptop-sm:after:absolute
                    laptop-sm:after:top-0
                    laptop-sm:after:-left-[4px]
                    laptop-sm:after:bg-thunder-darkest
                    laptop-sm:after:w-[2px]
                    laptop-sm:after:h-full
                    laptop-sm:after:scale-y-0
                    laptop-sm:after:transition-all
                    laptop-sm:after:duration-300
                    laptop-sm:hover:after:scale-y-100
                    laptop-sm:hover:after:h-full
                    laptop-sm:group-data-[style=fortepiano]/body:after:bg-ivory-lightest">
                    {{item.label}}
                </a>
            </li>
            <li class="w-full bg-thunder-lightest h-px tablet-h:hidden">
            </li>
            <!-- END ITEM -->
        {%endfor%}
    </ul>
    <!-- END WRAPPER -->
</nav>
