{%from './components/icon.html' import icon%}
<ul class="flex items-center gap-3xs">
    <li>
        <a href="https://x.com/intent/tweet?url={{url|url_encode}}&via=gspataro96" target="_blank">
            {{icon('twitter', 28, label: 'Condividi su X')}}
        </a>
    </li>
    <li>
        <a href="https://facebook.com/sharer.php?u={{url|url_encode}}" target="_blank">
            {{icon('facebook', 28, label: 'Condividi su Facebook')}}
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{url|url_encode}}" target="_blank">
            {{icon('linkedin', 28, label: 'Condividi su LinkedIn')}}
        </a>
    </li>
</ul>
