{%from './components/icon.html' import icon%}
<ul class="flex justify-center items-center gap-2xs group">
    <li>
        <a href="https://www.instagram.com/giuseppespataro96/" target="_blank" class="text-inherit">
            {{icon('instagram', '26', label: 'Instagram')}}
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/gspataro96" target="_blank" class="text-inherit">
            {{icon('linkedin', '26', label: 'Linkedin')}}
        </a>
    </li>
    <li>
        <a href="https://www.twitter.com/gspataro96" target="_blank" class="text-inherit">
            {{icon('twitter', '26', label: 'X')}}
        </a>
    </li>
    <li>
        <a href="https://www.github.com/gspataro" target="_blank" class="text-inherit">
            {{icon('github', '26', label: 'Github')}}
        </a>
    </li>
    <li>
        <a href="mailto:{{website.email}}" target="_blank" class="text-inherit">
            {{icon('email', '26', label: 'Email')}}
        </a>
    </li>
</ul>
