<article class="{{class}}">
    {%if article.frontmatter.thumbnail%}
        <figure class="mb-2xs">
            <a href="{{url('article.' ~ id)}}">
                <img src="{{media(article.frontmatter.thumbnail.src, 'thumbnail')}}" alt="{{article.frontmatter.thumbnail.alt}}">
            </a>
        </figure>
    {%endif%}
    <header class="mb-3xs">
        <{{heading_type ?? 'h5'}}>
            <a href="{{url('article.' ~ id)}}" class="text-current no-underline hover:underline">
                {{article.frontmatter.title}}
            </a>
        </{{heading_type ?? 'h5'}}>
    </header>
    <time datetime="{{article.frontmatter.published|date('Y-m-d')}}" class="mb-xs">
        {{article.frontmatter.published|format_date('long', locale: 'it')}}
    </time>
</article>
